{% extends "livedata-base-page.html" %}

% set name_prefix = page_config[cur_page_id]['name_prefix']

{% block header %}

	{{ super() }}
	
	<script type="text/javascript">
		
		// Custom handler for this one value
		STATE_LABELS = ['Invalid', 'Ramping', 'Holding', 'Paused', 'Manual Up', 'Manual Down', 'Zeroing', 'Quench Detected', 'Heating PSwitch', 'At Zero']
		function new_data_custom_adrstate (data)
		{
			console.log("New data received: " + JSON.stringify(data));
			for (tname in data)
			{
				val =  data[tname][1];
				$("[id='val_adr_state']").html(STATE_LABELS[val]);
			}
		}
	
		function update_data() 
		{
			console.log("Requesting new data");
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='state', value_names=[name_prefix + ' State']) }}", new_data_custom_adrstate);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='current', value_names=[name_prefix + ' Programmed I']) }}", new_data_func['current']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='currentramp', value_names=[name_prefix + ' Programmed Ramp']) }}", new_data_func['currentramp']);
			
		}	
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
		
	</script>
		
{% endblock %}

{% block content %}

	<p>
		
		<table class='prettytable' border="1">
			
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Change</th>
			</tr>
			
			<tr>
				<td>State</td>
				<td><div id="val_adr_state"></div></td>
				<td>
					<select id="set_state">
					% set MODE_LABELS = ['Pause', 'Ramp', 'Zero']
					% for j in range(MODE_LABELS|length)
						<option value={{j}}>{{MODE_LABELS[j]}}</option>
					% endfor
					</select>
					<button onclick="request_set_s('set_state', '{{ name_prefix|e }}')">Set</button>
				</td>
			</tr>
			
			<tr>
				<td>Target Current</td>
				% set sensor_name = name_prefix + " Programmed I"
				<td><div id="val_current_{{ sensor_name|urlencode }}"></div></td>
				<td>
					<input type="number" id="set_mag_i" style="width:80px;"></input>
					<button onclick="request_set_i('set_mag_i', '{{ name_prefix|e }}')">Set A</button>
				</td>
			</tr>
			
			<tr>
				<td>Target Ramp</td>
				% set sensor_name = name_prefix + " Programmed Ramp"
				<td><div id="val_currentramp_{{ sensor_name|urlencode }}"></div></td>
				<td>
					<input type="number" id="set_mag_ir" style="width:80px;"></input>
					<button onclick="request_set_ir('set_mag_ir', '{{ name_prefix|e }}')">Set A/s</button>
				</td>
			</tr>
			
		</table>			
		
	</p>
	

{% endblock %}
