{% extends "base-page.html" %}
		
{% block header %}
		
<script type="text/javascript">

	$(document).ready(function(){
		
		function led_off()
		{
			$.post("{{ url_for('pyhkpage.control_camera', cur_page_id=cur_page_id, cam_num=cam_num) }}", {"command": "led_off"});
		}
		
		function led_on()
		{
			$.post("{{ url_for('pyhkpage.control_camera', cur_page_id=cur_page_id, cam_num=cam_num) }}", {"command": "led_on"});
		}
		
		$("#led_on").click(led_on);
		$("#led_off").click(led_off);

		% if page_config[cur_page_id]['cameras'][cam_num]['dual'] == 'true'
		
			function src_rear()
			{
				$.post("{{ url_for('pyhkpage.control_camera', cur_page_id=cur_page_id, cam_num=cam_num) }}", {"command": "src_rear"});
			}
			
			function src_front()
			{
				$.post("{{ url_for('pyhkpage.control_camera', cur_page_id=cur_page_id, cam_num=cam_num) }}", {"command": "src_front"});
			}
			
			$("#src_rear").click(src_rear);
			$("#src_front").click(src_front);
			
		% endif
		
		function change_cam()
		{
			document.location.href = $("#camsel").val();
		}
		
		$("#camsel").change(change_cam);

	});
				                                  
</script>
	
{% endblock %}


{% block content %}
<div>
	
	<select id="camsel">
	% for j in range(page_config[cur_page_id]['cameras']|length)
		<option {{"selected" if j == cam_num}} value="{{ url_for('pyhkpage.camera', cur_page_id=cur_page_id, cam_num=j) }}">
			{{page_config[cur_page_id]['cameras'][j]['name']}}
		</option>
	% endfor
	</select>
	
	<br/><br/>

	<img id="videofeed" src="{{ url_for('pyhkpage.camera_video_feed', cur_page_id=cur_page_id, cam_num=cam_num) }}">

	<br/><br/>
	
	% if page_config[cur_page_id]['cameras'][cam_num]['dual'] == 'true'
		<button id="src_rear">Rear</button>
		<button id="src_front">Front</button>
		<div style="width:20px;height:auto;display:inline-block;"></div>
	% endif
	<button id="led_on">LED On</button>
	<button id="led_off">LED Off</button>
	

	
</div>
{% endblock %}


