{% extends "base-page.html" %}

{% block header %}
		
	<script type="text/javascript">
		
		function new_data_log (data, port)
		{
			console.log("New log data for port " + port);
			var textarea = $("[id='fridgelog_" + port + "']");
			var autoscroll = (textarea[0].scrollHeight == textarea[0].scrollTop + textarea[0].clientHeight);
			textarea.val(data);
			if (autoscroll)
				textarea.scrollTop(textarea[0].scrollHeight);			
		}
		function new_data_state (data, port)
		{
			console.log("New state data for port " + port);
			$("[id='fridgestate_" + port + "']").html(data);
		}
		
		function update_data(change_dropdowns = false) 
		{
			console.log("Requesting new data");
			% for i in range(fridge_ports|length)
				$.get("{{ url_for('pyhkpage.get_fridge_log', port=fridge_ports[i])}}", function (data) {new_data_log (data, "{{fridge_ports[i]}}");});
			% endfor

			if (change_dropdowns)
			{
				% for i in range(fridge_ports|length)
					$.get("{{ url_for('pyhkpage.get_fridge_state', port=fridge_ports[i], change_dropdowns=1)}}", function (data) {new_data_state (data, "{{fridge_ports[i]}}");});
				% endfor
			}
			else
			{
				% for i in range(fridge_ports|length)
					$.get("{{ url_for('pyhkpage.get_fridge_state', port=fridge_ports[i], change_dropdowns=0)}}", function (data) {new_data_state (data, "{{fridge_ports[i]}}");});
				% endfor
			}
		}	
		
		$( document ).ready(function() 
		{
			update_data(true);
			var update_timer = setInterval(update_data, 2000);
		});
		
		function script_load(port)
		{	
			var fname = $("[id='fridgescript_" + port + "']").val();
			console.log("Requesting port " + port + " load " + fname);
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_load') }}", {"port": port, "filename": fname}, function(result) {console.log("Server Result: " + result);update_data();})
		}
		function script_auto_time(port)
		{	
			var stime = $("[id='fridgetime_" + port + "']").val().split(',');
			console.log("Requesting port " + port + " time " + stime);
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_auto_time') }}", {"port": port, "hour": stime[0], "minute":stime[1]}, function(result) {console.log("Server Result: " + result);update_data();})
		}
		function script_auto_enabled(port, enabled)
		{	
			if (enabled) {enabled = 1;} else {enabled = 0;}
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_auto_enabled') }}", {"port": port, "enabled": enabled}, function(result) {console.log("Server Result: " + result);update_data();})
		}
		function script_start(port)
		{	
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_start') }}", {"port": port}, function(result) {console.log("Server Result: " + result);update_data();})
		}                       
		function script_stop(port)
		{	
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_stop') }}", {"port": port}, function(result) {console.log("Server Result: " + result);update_data();})
		}
		function script_skip(port)
		{	
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_skip') }}", {"port": port}, function(result) {console.log("Server Result: " + result);update_data();})
		}
		function script_reload_conf(port)
		{	
			$.post("{{ url_for('pyhkpage.request_pyhkfridge_reload_conf') }}", {"port": port}, function(result) {console.log("Server Result: " + result);update_data();})
		}
                                    
				
	</script>
{% endblock %}

{% block content %}

	% for i in range(fridge_ports|length)
	
	<h4>Fridge Script {{fridge_ports[i] - 8399}}:</h4>
	
	<div style="padding-left:20px;">
		
		<div id="fridgestate_{{fridge_ports[i]}}">
		</div>
		
		<div style="padding-top:10px; padding-bottom:5px;">
			<button onclick="script_start({{fridge_ports[i]}})">Start</button>
			<button onclick="script_stop({{fridge_ports[i]}})">Stop</button>
			<button onclick="script_skip({{fridge_ports[i]}})">Skip</button>
		</div>
		
		<div style="padding-top:5px; padding-bottom:5px;">
			<select id="fridgetime_{{fridge_ports[i]}}">
				% for j in range(24)
					<option value="{{j}},0">{{j}}:00</option>
					<option value="{{j}},30">{{j}}:30</option>
				% endfor
			</select>
			<button onclick="script_auto_time({{fridge_ports[i]}})">Set Run Time</button>
			<button onclick="script_auto_enabled({{fridge_ports[i]}},true)">Auto On</button>
			<button onclick="script_auto_enabled({{fridge_ports[i]}},false)">Auto Off</button>
		</div>
		
		<div style="padding-top:5px; padding-bottom:5px;">
			<button onclick="window.open('{{ url_for('pyhkpage.get_fridge_script_text', port=fridge_ports[i]) }}')">View Current Script</button>
			<button onclick="window.open('{{ url_for('pyhkpage.get_fridge_config_text', port=fridge_ports[i]) }}')">View Current Config</button>
		</div>
		
		<div style="padding-top:5px; padding-bottom:10px;">
			<select id="fridgescript_{{fridge_ports[i]}}">
			% for j in range(fridge_scripts|length)
				<option value="{{fridge_scripts[j]}}">{{fridge_scripts[j]}}</option>
			% endfor
			</select>
			<button onclick="script_load({{fridge_ports[i]}})">Load Script</button>
			<button onclick="script_reload_conf({{fridge_ports[i]}})">Reload Config</button>
		</div>
		
		<textarea readonly id="fridgelog_{{fridge_ports[i]}}" rows="10" cols="100">
		</textarea>
		
	</div>

	% else
	
	<p> No instances of pyhkfridge are running. </p>
	
	% endfor

{% endblock %}

