{% extends "livedata-base-page.html" %}

% set name_prefix = page_config[cur_page_id]['name_prefix']

{% block header %}

	{{ super() }}
	
	<script type="text/javascript">
	
		function update_data() 
		{
			console.log("Requesting new data");
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='state', value_names=page_config[cur_page_id]['names']) }}", new_data_func['state']);
		}		
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
		
	</script>
		
{% endblock %}

{% block content %}

	<p>
		
		<table class='prettytable' border="1">
			
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Change</th>
			</tr>
			
			% for n in page_config[cur_page_id]['names']
				<tr>
					<td>{{ n|e }}</td>
					<td><div id="val_state_{{ n|urlencode }}"></div></td>
					<td>
						<button onclick="request_set_val_s('{{ n|e }}', 0)">0</button>
						<button onclick="request_set_val_s('{{ n|e }}', 1)">1</button>
					</td>
				</tr>
			% endfor
			
		</table>			
		
	</p>
	

{% endblock %}
