{% extends "livedata-base-page.html" %}

{% block header %}

	{{ super() }}
	
	<style>
		.prettytable td {
			text-align: center !important;
		}
	</style>
	
	<script type="text/javascript">
		
		unit_lims['voltage'] = [-6,0];
		unit_lims['current'] = [-9,0];
		unit_lims['resistance'] = [-3,12];
		unit_lims['power'] = [-9,0];
		
		function get_config_therm(channel)
		{	
			config = {
					"id": channel,
					"excitation": parseInt($("[id='excitation_" + channel + "']").val())
					}
					
			return config
		}
		
		function get_config_heater(channel)
		{	
			config = {
					"id": channel,
					"pid_p": parseFloat($("[id='pid_p_" + channel + "']").val()),
					"pid_i": parseFloat($("[id='pid_i_" + channel + "']").val()),
					"pid_d": parseFloat($("[id='pid_d_" + channel + "']").val()),
					"pid_therm": $("[id='pid_therm_" + channel + "']").val()
					}
					
			return config
		}
		
		function request_raw(config)
		{
			config_json = JSON.stringify(config);
			console.log("Requesting hkmb update: " + config_json);
			$.ajax({
				url: "{{ url_for('pyhkpage.request_set_hkmb', cur_page_id=cur_page_id) }}",
				type: "POST",
				data: config_json,
				contentType: "application/json; charset=utf-8",
				success: function(result) {console.log("Server Result: " + result);}
			});
		}
	
		function request_set_therm(channel)
		{	
			config = {'config_list':[get_config_therm(channel)]};
			request_raw(config);
		}
		
		function request_set_therm_all()
		{	
			config_list = []
			% for c in hkmb_cfg
				% if c['type'] == 'thermometer'
					config_list.push(get_config_therm("{{c['id']}}"));
				% endif
			% endfor
			config = {'config_list':config_list};
			request_raw(config);
		}
		                          	
		function request_set_heater(channel)
		{	
			config = {'config_list':[get_config_heater(channel)]};
			request_raw(config);
		}
		
		function request_set_heater_all()
		{	
			config_list = []
			% for c in hkmb_cfg
				% if c['type'] == 'heater'
					config_list.push(get_config_heater("{{c['id']}}"));
				% endif
			% endfor
			config = {'config_list':config_list};
			request_raw(config);
		}
		                          	
		function update_data() 
		{
			console.log("Requesting new data");
			
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='temperature', value_names=therm_names) }}", new_data_func['temperature']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='voltage', value_names=therm_names) }}", new_data_func['voltage']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='current', value_names=therm_names) }}", new_data_func['current']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='dac', value_names=therm_names) }}", new_data_func['dac']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='resistance', value_names=therm_names) }}", new_data_func['resistance']);
			
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='voltage', value_names=heater_names) }}", new_data_func['voltage']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='current', value_names=heater_names) }}", new_data_func['current']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='power', value_names=heater_names) }}", new_data_func['power']);
			
			% if 'HKMBv2' in box_version
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='angle', value_names=diag_names) }}", new_data_func['angle']);
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='fraction', value_names=diag_names) }}", new_data_func['fraction']);
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='voltage', value_names=diag_names) }}", new_data_func['voltage']);
				$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='voltage', value_names=card_diag_names) }}", new_data_func['voltage']);
			% endif
		}	
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
		
	</script>
	
{% endblock %}


{% block content %}

	<p>
		<h3>Thermometers</h3>
		
		<table class='prettytable prettytable-quad' border="1">
			
			<tr>
				<th>Channel</th>
				<th>Name</th>
				<th>Alias</th>
				<th>Temperature</th>
				<th>Resistance</th>
				<th>Sensor V</th>
				<th>Sensor I</th>
				
				% if 'HKMBv2' in box_version
				
					<th>&Delta;&theta;</th>
					<th>Mean &theta;</th>
					<th>Overflow (Sensor)</th>
					<th>Overflow (Monitor)</th>
					<th>Q Noise (Sensor)</th>
					<th>Q Noise (Monitor)</th>
				
				% endif
				
				<th>Excitation [DAC]</th>
				
				% if 'HKMBv2' in box_version
					<th>Target Excitation [μV]</th>
				% else
					<th>Target Excitation [nA]</th>
				% endif
				
				<th>Commands</th>

			</tr>
			
			% for c in hkmb_cfg
				% if c['type'] == 'thermometer'
					<tr>
						% set channel = c['id']
						% set n = c['name']
						<td>{{ channel|e }}</td>
						<td>
							{{ n|e }}
						</td>		
						<td>
							{{ c['alias']|e }}
						</td>		
						
						<td><div id="val_temperature_{{ n|urlencode }}"></div></td>
						<td><div id="val_resistance_{{ n|urlencode }}"></div></td>
						<td><div id="val_voltage_{{ n|urlencode }}"></div></td>
						<td><div id="val_current_{{ n|urlencode }}"></div></td>
						
						% if 'HKMBv2' in box_version
						
							<td><div id="val_angle_{{ (diag_prefix + channel)|urlencode }}DELTA"></div></td>
							<td><div id="val_angle_{{ (diag_prefix + channel)|urlencode }}MEAN"></div></td>
							<td><div id="val_fraction_{{ (diag_prefix + channel)|urlencode }}SEN"></div></td>
							<td><div id="val_fraction_{{ (diag_prefix + channel)|urlencode }}MON"></div></td>
							<td><div id="val_voltage_{{ (diag_prefix + channel)|urlencode }}SEN"></div></td>
							<td><div id="val_voltage_{{ (diag_prefix + channel)|urlencode }}MON"></div></td>
						
						% endif
						
						<td><div id="val_dac_{{ n|urlencode }}"></div></td>		
					
						<td>
							<input type="number" id="excitation_{{channel}}" min="-20000" max="20000" value="{{ c['excitation']|e }}" style="width:70px;">
						</td>

						<td>
							<button onclick="request_set_therm('{{channel}}')">Set</button>
						</td>
					</tr>
				% endif
				
			% endfor
			
		</table>
		
		<br>
		<button onclick="request_set_therm_all()">Set All Thermometers</button>	
		
		% if 'HKMBv2' in box_version 
		
			<br><br>
			Diagnostic tips for HKMBv2:
			<ul>
			  <li>&Delta;&theta; (the measured relative phase between the sensor and the current monitor) should be small, preferably with an absolute value &lt;1 deg.  Large phase differences often indicate open lines or large capacitors (>1nF).  The overall mean phase &theta; need not be close to zero, but it should be fairly consistent for each amplifier card (four channels).</li>
			  <li>The two overflow metrics should be less than 1.  Operating slightly over 1 may be acceptable in some situations.</li>
			  <li>The system automatically changes the excitation DAC to bring the sensor voltage toward the Target Excitation value when it differs by more than a given threshold.  In the event of an overflow, the excitiation is reduced to clear the overflow.  Negative values for Target Excitation may be used to set the excitation DAC to a constant value (-1 sets 0 DAC, -2 sets 1 DAC, etc.). </li>
			  <li>Note that the DAC value reported is a virtual DAC scale that may be mapped to physical excitation levels differently by different generations of amplifier card.  This does not impact the auto-excitation.</li>
			</ul>
			
			<br><br>
			<table class='prettytable' border="1">
				
				<tr>
					<th>Connector ID</th>
					<th>Carrier RMS</th>
				</tr>
				
				% set num_cards = 6
				% if 'Mini' in box_version 
					% set num_cards = 1
				% endif
				
				% for i in range(num_cards)
					<tr>
							<td>
								{{ i|e }}
							</td>			
		
							<td><div id="val_voltage_{{ (diag_prefix + 'C' + (i|e))|urlencode }}CARRIER"></div></td>
							
					</tr>
				% endfor
				
			</table>	
		
		% endif
				
		<h3>Heaters</h3>
		
		<table class='prettytable' border="1">
			
			<tr>
				<th>Channel</th>
				<th>Name</th>
				<th>Alias</th>
				<th>Heater Voltage</th>
				<th>Heater Current</th>
				<th>Heater Power</th>
				<th>PID Chan</th>
				<th>P Term</th>
				<th>I Term</th>
				<th>D Term</th>
				<th>Commands</th>
			</tr>
			
			% for c in hkmb_cfg
				% if c['type'] == 'heater'
					<tr>
						% set channel = c['id']
						% set n = c['name']
						<td>{{ channel|e }}</td>
						<td>
							{{ n|e }}
						</td>		
						<td>
							{{  c['alias']|e }}
						</td>		
						
						<td><div id="val_voltage_{{ n|urlencode }}"></div></td>
						<td><div id="val_current_{{ n|urlencode }}"></div></td>
						<td><div id="val_power_{{ n|urlencode }}"></div></td>
						
						<td>
							<select id="pid_therm_{{channel}}">
								<!-- c['pid_therm'] = {{c['pid_therm']|e}} -->
								% set chanid = None
								<option{{" selected" if chanid == c['pid_therm']}} value="{{chanid}}">{{chanid|e}}</option>
								% for cc in hkmb_cfg
									% if cc['type'] == 'thermometer'
										% set chanid = cc['id']
										<option{{" selected" if chanid == c['pid_therm']}} value="{{chanid}}">{{chanid|e}}</option>
									% endif
								% endfor
							</select>
						</td>
					
					
						<td>
							<input type="number" id="pid_p_{{channel}}" step='any' value="{{ c['pid_p']|e }}" style="width:50px;">
						</td>		
						<td>
							<input type="number" id="pid_i_{{channel}}" step='any' value="{{ c['pid_i']|e }}" style="width:50px;">
						</td>		
						<td>
							<input type="number" id="pid_d_{{channel}}" step='any' value="{{ c['pid_d']|e }}" style="width:50px;">
						</td>		
						

						<td>
							<button onclick="request_set_heater('{{channel}}')">Set</button>
						</td>
					</tr>
				% endif
			% endfor
			
		</table>	
		
		<br>
		<button onclick="request_set_heater_all()">Set All Heaters</button>		

	</p>
	
{% endblock %}


