{% extends "livedata-base-page.html" %}

% set name_prefix = page_config[cur_page_id]['name_prefix']

{% block header %}

	{{ super() }}
	
	<script type="text/javascript">
		
		function request_set_pt()
		{
		
			var val = $("[id='set_state']").val();
			var verify = $("[id='txt_verify']").val();
			
			if (val == 1)
			{
				if (verify != "I want to turn the PT on")
				{
					window.alert("Bad verification string.  Type exactly as written, no quotes.");
					return;
				}
			}
			else if (val == 2)
			{
				if (verify != "I want to turn the PT off")
				{
					window.alert("Bad verification string.  Type exactly as written, no quotes.");
					return;
				}
			}
			else
			{
				return;
			}
			
			request_set_s('set_state', '{{ name_prefix|e }} On State')
			window.alert("PT state change requested successfully");
		}
		
		
		// Special handling for the PT state value
		STATE_LABELS = ['Off', 'On'];
		function new_data_custom_ptstate(data)
		{
			console.log("New PT state data received: " + JSON.stringify(data));
			for (tname in data)
			{
				val =  data[tname][1];
				$("[id='val_pt_status']").html(STATE_LABELS[val]);
			}
		}
	
		function update_data() 
		{
			console.log("Requesting new data");
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='state', value_names=[name_prefix + ' Status']) }}", new_data_custom_ptstate);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='state', value_names=[name_prefix + ' Error']) }}", new_data_func['state']);
			$.getJSON("{{ url_for('pyhkpage.get_data_current', subfolder_label='state', value_names=[name_prefix + ' Compressor Minutes']) }}", new_data_func['state']);
		}	
		
		$( document ).ready(function() 
		{
			update_data();
			var update_timer = setInterval(update_data, 2000);
		});
		
	</script>
		
{% endblock %}

{% block content %}

	<p>
		
		<table class='prettytable' border="1">
			
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
			
			<tr>
				<td>Status</td>
				<td><div id="val_pt_status"></div></td>
			</tr>
			
			<tr>
				<td>Error</td>
				% set sensor_name = name_prefix + " Error"
				<td><div id="val_state_{{ sensor_name|urlencode }}"></div></td>
			</tr>
			
			<tr>
				<td>Compressor Minutes</td>
				% set sensor_name = name_prefix + " Compressor Minutes"
				<td><div id="val_state_{{ sensor_name|urlencode }}"></div></td>
			</tr>
			
		</table>			
		
	</p>
	
	<p>
		<h4>Turn PT On/Off</h4>
	
		To help prevent accidental clicks, enter one of the following text strings into the textbox exactly as written (no quotes) for changes to take effect:<br>
		<i>"I want to turn the PT on"</i><br>
		<i>"I want to turn the PT off"</i><br>
		<br>
		
		<input type="text" id="txt_verify" value="" style="width:300px;">
		
		<br>
		<br>
		
		<select id="set_state">
		% set MODE_LABELS = ['No Change', 'On', 'Off']
		% for j in range(MODE_LABELS|length)
			<option value={{j}}>{{MODE_LABELS[j]}}</option>
		% endfor
		</select>
		<button onclick="request_set_pt()">Set</button>
	
	</p>
	

{% endblock %}
