<!doctype html>
<html>

<head>
	
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	
	<title>{{cur_page_name}}</title>
	
	<style>
		pre
		{
			-moz-tab-size: 4;
			-o-tab-size:   4;
			tab-size:      4;
		}
	</style>
	
</head>

<body>
	
	<pre class="prettyprint">{{code_text}}</pre>
	
</body>
	
</html>
